<article class="post">
    {{ .Render "header" }}


    </section>
    {{ .Render "featured" }}
    <div id="content">
        {{ .Content }}
    </div>

    <footer>
        {{ .Render "footer-category" }}
    </footer>
</article>
{{ .Render "prev-next" }}

{{ if ne .Site.DisqusShortname "" }}
    {{ if not (in (printf "%#v" .Site.BaseURL) "localhost") }}
        <article class="post">
            {{ template "_internal/disqus.html" . }}
        </article>
    {{ end }}
{{ end }}
