<!-- Header -->
<header id="header">
    {{ if and (.IsNode) (or (.IsHome) (eq .Title "Posts")) }}
        <h1><a href="https://gitlab.com/bert-caeyers/HUGO-site" href=""target = "_blank">{{ .Site.Params.navbarTitle }}</i></a></h1>
    {{ else }}
        <h2><a href="https://gitlab.com/bert-caeyers/HUGO-site" target = "_blank">{{ .Site.Params.navbarTitle }}</i></a></h2>
    {{ end }}

    <nav class="links">
        <ul>
            {{ range .Site.Menus.main }}
                <li>
                    <a href="{{ .URL }}">
                        {{ with .Identifier }}
                            <i class="{{ . }}">&nbsp;</i>{{ end }}{{ .Name }}
                    </a>
                </li>
            {{ end }}
        </ul>
    </nav>
    <nav class="main">
        <ul>
            {{ if $.Scratch.Get "shareNav" }}
            <li id="share-nav" class="share-menu" style="display:none;">
                <a class="fa-share-alt" href="#share-menu">Share</a>
            </li>
            {{ end }}

            <li class="menu">
                <a class="fa-bars" href="#menu">Menu</a>
            </li>
        </ul>
    </nav>
</header>

<!-- Menu -->
<section id="menu">



    <!-- Links -->


    <!-- Recent Posts -->
        <section>
            <ul class="links">
                <header>
                    <h3>Gip-Taken</h3>
                </header>
                {{ with .Site.Params.postAmount.sidebar }}
                    {{ $.Scratch.Set "postLimit" . }}
                {{ else }}
                    {{ $.Scratch.Set "postLimit" 16 }}
                {{ end }}

                {{ range first ($.Scratch.Get "postLimit") (where .Site.Pages "Type" "post") }}
                    <li>
                        <a href="{{ .Permalink }}"><p>{{ .Title }}</p></a>
                    </li>
                {{ end }}
            </ul>
        </section>

    <!-- Actions -->
        <!--
        <section>
            <ul class="actions vertical">
                <li><a href="#" class="button big fit">Log In</a></li>
            </ul>
        </section>
        -->
</section>
