<!-- Sidebar -->
<section id="sidebar">

    <!-- Intro -->
        <section id="intro">
            {{ $pic := .Site.Params.intro.pic }}
            {{ with $pic.src }}
                {{ if $pic.circle }}
                    <img src="{{ . }}" class="intro-circle" width="{{ $pic.width }}" alt="{{ $pic.alt }}" />
                {{ else if $pic.imperfect }}
                    <a href="/" class="logo"><img src="{{ . }}" alt="{{ $pic.alt }}" /></a>
                {{ else }}
                    <img src="{{ . }}" width="{{ $pic.width }}" alt="{{ $pic.alt }}" />
                {{ end }}
            {{ end }}
            {{ with .Site.Params.intro }}
                <header>
                    <h2>{{ .header }}</h2>
                    <p>{{ .paragraph | safeHTML }}</p>
                </header>
            {{ end }}
            <ul class="icons">
                {{ if .RSSLink }}
                    <li><a href="{{ .RSSLink }}" type="application/rss+xml"
                        target="_blank" title="RSS" class="fa fa-rss"></a></li>
                {{ end }}
                {{ if .Site.Params.socialAppearAtTop }}
                    {{ partial "social" . }}
                {{ end }}
            </ul>
        </section>



        <!-- This if statement only applies if someone goes to the /categories url -->
        <!-- Otherwise this section is shown for all other links -->
        {{ if ne ($.Scratch.Get "showCategories") false }}
        <!-- Categories List -->
            <section id="categories">
                <ul class="posts">
                    <header>
                        <h3><a href="/categories/">Vakken</a></h3>
                    </header>

                    {{ if .Site.Params.categoriesByCount }}
                        {{ $.Scratch.Set "categories" .Site.Taxonomies.categories.ByCount }}
                    {{ else }}
                        {{ $.Scratch.Set "categories" .Site.Taxonomies.categories.Alphabetical }}
                    {{ end }}

                    {{ range $key, $value := $.Scratch.Get "categories" }}
                        <li>
                            <article>
                                <header>
                                    <a href="/categories/{{ $value.Name | urlize }}/">{{ $value.Name }}</a>
                                    <span style="float:right;">{{ $value.Count }}</span>
                                </header>
                            </article>
                        </li>
                    {{ end }}
                </ul>
            </section>
        {{ end }}






  

    <!-- Footer -->
        <section id="footer">
            <ul class="icons">
                {{ if .RSSLink }}
                    <li><a href="{{ .RSSLink }}" type="application/rss+xml"
                        target="_blank" title="RSS" class="fa fa-rss"></a></li>
                {{ end }}
                {{ if .Site.Params.socialAppearAtBottom }}
                    {{ partial "social" . }}
                {{ end }}
            </ul>

            <p class="copyright">&copy; {{ .Site.Title }}. Design: <a href="http://html5up.net" target="_blank">HTML5 UP</a>. Ported by <a href="//github.com/jpescador" target="_blank">Julio Pescador</a>. Powered by <a href="//gohugo.io" target="_blank">Hugo</a></p>
        </section>

</section>
